.signup {
    padding: 50px 0;
}

.cont {
    width: 60%;
}

.cont .col-sm-2,
.cont .col-sm-3,
.cont .col-sm-4,
.cont .col-sm-5,
.cont .col-sm-6,
.cont .col-sm-7,
.cont .col-sm-8,
.cont .col-sm-9,
.cont .col-sm-10,
.cont .col-sm-11,
.cont .col-sm-12,
.cont .col{
    padding: 0 !important;
}


.login-body {
    height: 100vh;
    background-color: #f7f9fa;
  }

  .login-form {
    margin: auto;
    width: 500px;
    padding: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
  }